<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ivitesse.epicure">

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <dist:module dist:instant="true" />

    <application
        android:name=".helper.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning"
        tools:targetApi="m">
        <activity
            android:name=".activities.Offer_Details_coupons"
            android:label="@string/title_activity_offer__details_coupons"
            android:parentActivityName=".activities.Future_Coupons"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ivitesse.epicure.activities.Future_Coupons" />
        </activity>
        <activity android:name=".activities.Past_Stays" />
        <activity android:name=".activities.Review_Rating" />
        <activity android:name=".activities.Transaction_History" />
        <activity android:name=".activities.Membership_Activity" />
        <activity android:name=".activities.Profile_Activity" />
        <activity
            android:name=".activities.Registration_Activity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activities.Login_Activity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activities.Splash_Activity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.MainActivity" />
        <activity android:name=".activities.About_Info" />
        <activity android:name=".activities.BaseActivity" />
        <activity android:name=".activities.Future_Coupons" />
        <activity android:name=".activities.Past_Coupons" />

        <receiver
            android:name=".helper.ConnectivityChangeReceiver"
            android:enabled="true">
            <intent-filter>
                <action
                    android:name="android.net.conn.CONNECTIVITY_CHANGE"
                    tools:ignore="BatteryLife" />
            </intent-filter>
        </receiver>

        <activity android:name=".activities.Futures_Booking" />
        <activity android:name=".activities.Hotel_Home_Activity" />
        <activity android:name=".activities.Hotel_Home_Activity_Result" />
        <activity android:name=".activities.Hotel_Home_Activity_Result_Full" />
        <activity android:name=".activities.Future_Booking_List" />
    </application>

</manifest>